:root{
    --iriscolor: #4D5AE5;
    --navyblue:  #2e2f42;
    --navcolor: black;
    --oceancolor: #404BBF;
    --whitecolor: white;
    --slatecolor: #434455;
    --btn-filter: #f5f4fa;
    --primary-text-color: #757575;

}

.logo-link{
    text-decoration: none;
    font-size: 30px;
    line-height: 1.5;
    font-family: "Raleway", sans-serif;
}

.logo{
    color: var(--iriscolor);
    font-weight: 800;
}

.studio{
    color: var(--navyblue);
}

.studio-footer{
        color: var(--whitecolor);
    }

.nav-menu .page{
    color: var(--navcolor);
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.15;
    letter-spacing: 0.05em;
}

.list{
    list-style-type: none;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.currentoption,
.contacts-menu .item:hover,
.contacts-menu .item:focus {
    color: var(--oceancolor);
}

.contacts-menu .item{
    color: var(--navyblue);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.15;
    letter-spacing: 0.05em;
    text-decoration: none;
}

.bg-hero{
    background-color: var(--navyblue)
}

.hero-title{
    color: var(--whitecolor);
    font-size: 50px;
    font-weight: 800;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.05em;
}

.button{
    cursor: pointer;
    border-color: transparent;
    letter-spacing: 0.05em;
    font-family: inherit;
}

.button.primary{
    background-color: var(--oceancolor);
    color: var(--whitecolor);
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

.button.primary:hover,
.button.primary:focus{
    background-color: red;
}

.button.filter{
    background-color: var(--btn-filter);
    color: var(--slatecolor);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current{
    background-color: var(--oceancolor);
    color: var(--btn-filter);
}

.description.title{
    font-weight: 800;
    font-size: 14px;
    line-height: 1.5;
    color: var(--slatecolor);
}
    
.section-title{
    text-align: center;
    color: var(--navyblue);
    font-size: 36px;
    font-weight:900;
    line-height: 1.5;
}

.name{
    color: var(--navyblue);
    font-weight: 900;
}

.position{
    color:var(--navyblue);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
}

.bg-footer{
    background-color: var(--navyblue);
}

.footer-description{
    color: white;
    width: 265px;
    height: 70px;
    top: 3300px;
}

.project{
    text-decoration: none;
}

.project .name{
color: var(--navcolor);
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.project .type{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}